.logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin: 30px 30px;
}
.header-title {
  padding: 80px 183px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}
.header-description {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  margin-right: 550px;
}
body {
  min-width: 1100px;
  max-width: 2000px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.header {
  background-color: #ffffff;
  background-image: url(/web_project_coffeeshop_es/images/background_header.svg);
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header-image {
  width: 450px;
  height: auto;
  margin: 124px 80px 5px 40px;
}
.info-text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-bottom: 40px;
  margin-left: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.span-info {
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 80px;
}

#contactos {
  text-decoration: none;
  color: #6f6f6f;
  font-weight: bold;
}

#reservar_mesa {
  text-decoration: none;
  color: #6f6f6f;
  font-weight: bold;
}
.nav-links {
  font-family: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 26px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: #6f6f6f;
  font-weight: bold;
  margin: 55px;
  opacity: 1;
}

a:visited {
  color: #6f6f6f;
}

.reservation {
  background-color: #ffd6c5;
  background-image: url(/web_project_coffeeshop_es/images/background_reservation.svg);
  max-width: 385px;
  margin: 0 auto;
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #d35722;
  text-align: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 1100px;
  max-width: 2000px;
  margin: 0 auto;
}
.reservation-checkbox {
  display: flex;
  border: 1px solid #4f4f4f;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 2px 2px 2px 2px;
  max-width: 385px;
}

.reservation-checkbox:checked:after {
  content: url("images/check.svg");
}

.reservation-label {
  border-radius: 4px 4px 4px 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.reservation-button {
  background-color: #e96e3a;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px 4px 4px 4px;
  max-width: 385px;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  opacity: 1;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 32px;
}

.reservation-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 385px;
  font-size: 28px;
  margin-bottom: 28px;
  text-align: center;
}

.reservation-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 385px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  width: 100%;
  padding: 12px 16px;
  transition: 0.2s;
}

.circulo {
  width: 100px;
  height: 100px;
  background-color: #e96e3a;
  border-radius: 50%;
  z-index: 340px 340px;
}

.footer-text {
  font-family: “Inter”;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
}

.social-media-link {
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
}

.reservation-button:hover {
  opacity: 0.7;
}

.social-media-link:hover {
  color: #ff976b;
  transition: color 0.3s ease;
}
.nav-links:hover {
  color: #ff976b;
  transition: color 0.3s ease;
}
